# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
